html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

/*
Job card component css
*/

.job-card{
  max-width: 240px!important;
  width: 240px!important;
}

.job-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
}
.company-name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin-bottom: 10px;
}
.short-desc{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
}

/*
Job list component css
*/

.page-heading{
  text-align: left;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 0px;
  padding-top: 1rem;
}

.card{
  border: 1px solid #b0b0b1;
}

.jobList{
  display: flex;
  flex-flow: row wrap;
}
.filter{
  display: flex;
  flex-flow: row wrap;
  margin-left: 2rem;
}
.filter input{
  border: none;
  border-bottom: 1px solid gray;
}

/*
Spinner component
*/

.spinner-size{
  width: 3rem;
  height: 3rem;
}
